<div class="cardList">
    <div class="list" ng-controller="DeleteCards">
        <span ng-show="apiResponse == 'success'">{{numbOfDeletedItems}} registros deletados com sucesso!</span>
        <form method="POST" name="formListCard" ng-controller="CallUpdatePage" novalidate>
            <div class="search">
                <label> Pesquisar: 
                    <input type="text" class="ng-valid ng-dirty" ng-model="filtro">
                </label>
            </div>
            <table border="1" >
                <tbody>
                    <tr>
                        <td colspan="9"><h3>Informações</h3></td>
                    </tr>
                    <tr class="listHead">
                        <td><strong><a href="" id="excluir" ng-click="deleteCards()"><img src="globals/img/delete.png"></a></strong></td>
                        <td><strong>E. remetente</strong></td>
                        <td><strong>N. remetente</strong></td>
                        <td><strong>E. destinatario</strong></td>
                        <td><strong>N. destinatario</strong></td>
                        <td><strong>Mensagem</strong></td>
                        <td><strong>Data envio</strong></td>
                        <td colspan="2"><strong>Data criação</strong></td>
                    </tr>
                    <tr class="list-group-item" ng-repeat="card in apiData | filter:filtro">
                        <td><input type='checkbox'  ng-model="card.idToDelete" ng-value="{{card.IDScheduleSend}}" ></td>
                        <td>{{card.emailFromEmail}}</td>
                        <td>{{card.nameFromEmail}}</td>
                        <td>{{card.emailToEmail}}</td>
                        <td>{{card.nameToEmail}}</td>
                        <td>{{card.message}}</td>
                        <td>{{card.dateToSend}}</td>
                        <td>{{card.createDate}}</td>
                        <td><a href="" ng-click="getIdForUpdate()" ng-model="card.idUpdate" ng-value="{{card.IDScheduleSend}}"><img src="globals/img/edit.png"></a></td>
                    </tr>
                    
            </table>
        </form>
        <div class="apiPagination">
            <a href="#/list/{{page}}" ng-repeat="page in obejctToEachPage">[{{page}}]</a>
        </div>
    </div>             

</div>



