<div class="formList">
    <div class="list" ng-controller="DeleteCards">
        <span ng-show="apiResponse == 'success'">{{numbOfDeletedItens}} registros deletados com sucesso!</span>
        <form method="POST" ng-controller="UpdateCards" novalidate>
            <div class="search">
                <label> Pesquisar: 
                    <input type="text" class="ng-valid ng-dirty" ng-model="filtro">
                </label>
            </div>
            <table border="1" >
                <tbody>
                    <tr>
                        <td colspan="9"><h3>Informações</h3></td>
                    </tr>
                    <tr class="listHead">
                        <td><strong><a href="" id="excluir" ng-click="mountArrayOfCardsToDelete()"><img src="views/globals/img/delete.png"></a></strong></td>
                        <td><strong>E. remetente</strong></td>
                        <td><strong>N. remetente</strong></td>
                        <td><strong>E. destinatario</strong></td>
                        <td><strong>N. destinatario</strong></td>
                        <td><strong>Mensagem</strong></td>
                        <td><strong>Data envio</strong></td>
                        <td colspan="2"><strong>Data criação</strong></td>
                    </tr>
                    <tr class="list-group-item" ng-repeat="cardInfo in json|filter:filtro">
                        <td><input type='checkbox'  ng-model="cardInfo.id" ng-value="{{cardInfo.IDScheduleSend}}" ></td>
                        <td>{{cardInfo.emailToEmail}}</td>
                        <td>{{cardInfo.nameToEmail}}</td>
                        <td>{{cardInfo.emailFromEmail}}</td>
                        <td>{{cardInfo.nameFromEmail}}</td>
                        <td>{{cardInfo.message}}</td>
                        <td>{{cardInfo.dateToSend}}</td>
                        <td>{{cardInfo.createDate}}</td>
                        <td><a href="" ng-click="getIdForUpdate()" ng-model="cardInfo.idUpdate" ng-value="{{cardInfo.IDScheduleSend}}"><img src="views/globals/img/edit.png"></a></td>
                    </tr>
            </table>
        </form>
    </div> 
</div>



