<div class="cardList">
    <div class="list" ng-controller="DeleteCards">
        <span ng-show="apiResponse == 'success'">{{numbOfDeletedItems}} registros deletados com sucesso!</span>
        <form method="POST" name="formListCard" ng-controller="CallUpdatePage" novalidate>
            <div class="search">
                <label> Pesquisar: 
                    <input type="text" class="ng-valid ng-dirty" ng-model="filtro">
                </label>
            </div>
            <table border="1" >
                <tbody>
                    <tr>
                        <td colspan="9"><h3>Informações</h3></td>
                    </tr>
                    <tr class="listHead">
                        <td><a href="" id="excluir" ng-click="deleteCards()"><img src="globals/img/delete.png"></a></td>
                        <td><a href="" ng-click="predicate = 'emailFromEmail'; reverse=!reverse">E. remetente</a></td>
                        <td><a href="" ng-click="predicate = 'nameFromEmail'; reverse=!reverse">N. remetente</a></td>
                        <td><a href="" ng-click="predicate = 'emailToEmail'; reverse=!reverse">E. destinatario</a></td>
                        <td><a href="" ng-click="predicate = 'nameToEmail'; reverse=!reverse">N. destinatario</a></td>
                        <td><a href="" ng-click="predicate = 'message'; reverse=!reverse">Mensagem</a></td>
                        <td><a href="" ng-click="predicate = 'dateToSend'; reverse=!reverse">Data envio</a></td>
                        <td colspan="2"><a href="" ng-click="predicate = 'createDate'; reverse=!reverse">Data criação</a></td>
                    </tr>
                    <tr class="list-group-item" ng-repeat="card in apiData |  filter:filtro | orderBy:predicate:reverse">
                        <td><input type='checkbox'  ng-model="card.idToDelete" ng-value="{{card.IDScheduleSend}}" ></td>
                        <td>{{card.emailFromEmail}}</td>
                        <td>{{card.nameFromEmail}}</td>
                        <td>{{card.emailToEmail}}</td>
                        <td>{{card.nameToEmail}}</td>
                        <td>{{card.message}}</td>
                        <td>{{card.dateToSend}}</td>
                        <td>{{card.createDate}}</td>
                        <td><a href="" ng-click="getIdForUpdate()" ng-model="card.idUpdate" ng-value="{{card.IDScheduleSend}}"><img src="globals/img/edit.png"></a></td>
                    </tr>
                    
            </table>
        </form>
        <div class="apiPagination">
            <a href="#/list/{{page}}" ng-repeat="page in obejctToEachPage">[{{page}}]</a>
        </div>
    </div>             

</div>



